/* Colors: */
/* 
  Background primary: #0d1117
  Background secondary: #161b22
  Text: #d7d7d7;
  Name: #8888ff;
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0d1117;
  color: #d7d7d7;
  font-family: "Inter", sans-serif;
}

.component {
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
}

.title {
  border-radius: 5px 5px 0 0;
  background-color: #161b22;
  margin: 0;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.name {
  color: #8888ff;
}

.about-text {
  padding: 20px;
  line-height: 1.25;
}

.socials {
  padding: 20px;
  padding-top: 0;
  display: flex;
  justify-content: space-around;
}

.icon-a-tag {
  color: #d7d7d7;
}

.social-icon {
  font-size: 25px;
}

.skills {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-icon {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-icon p {
  text-align: center;
  font-weight: 400;
  padding: 5px;
  max-width: 80px;
}

.skill-icon {
  font-size: 45px;
}
